body * {
  font-family: Raleway !important;
}

#content {
  padding-top: 200px;
}

.content {
  margin-bottom: 50px;
  flex-grow: 0;
  -webkit-flex-grow: 0;

  .card {
    margin: 0 auto;
    width: 600px;

    .title {
      font-weight:bold;
    }

    .menu {
      right: 25px;
    }

    .actions {
      padding: 20px;
    }
  }
}


